<div class="row">
    <div class="col-lg-6 addProject">
        <div class="well bs-component">
            <form name="editProjectForm" class="form-horizontal">
                <fieldset>
                    <legend>Edit project</legend>
                    <div class="form-group">
                        <label for="name" class="col-lg-3 control-label">Name</label>
<!--TODO: maybe use value and not placeholder-->
                        <div class="col-lg-9">
                            <input ng-model="projectToEdit.Name" required placeholder="{{project.Name}}"
                                   class="form-control" id="name" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-3 control-label">Description</label>

                        <div class="col-lg-9">
                            <textarea ng-model="projectToEdit.Description" placeholder="{{project.Description}}"
                                      class="form-control" rows="3" id="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lead" class="col-lg-3 control-label">Lead</label>

                        <div class="col-lg-9">
                            <!--<div ng-if="isAdmin()">-->
                                <input ng-change="useFilter()"
                                       ng-model="projectToEdit.UsernameFilter"
                                       placeholder="{{project.Lead.Username}}"
                                       required
                                       class="form-control" id="lead" type="text">
                            <!--</div>-->
                            <!--<div ng-if="!isAdmin()">-->
                                <!--<input ng-change="useFilter()"-->
                                       <!--ng-model="projectToEdit.UsernameFilter"-->
                                       <!--placeholder="{{project.Lead.Username}}"-->
                                        <!--disabled-->
                                       <!--required-->
                                       <!--class="form-control" type="text">-->
                            <!--</div>-->
                            <div class="custom-dropdown">
                                <div ng-repeat="user in users | limitTo: 4">{{user.Username}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="labels" class="col-lg-3 control-label">Labels</label>

                        <div class="col-lg-9">
                            <input ng-model="projectToEdit.labels" placeholder="{{labels}}" class="form-control"
                                   id="labels" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="priorities" class="col-lg-3 control-label">Priorities</label>

                        <div class="col-lg-9">
                            <input ng-model="projectToEdit.priorities" placeholder="{{priorities}}" class="form-control"
                                   id="priorities" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button ng-click="editProject(projectToEdit, project.Id)"
                                    ng-disabled="editProjectForm.$invalid" type="submit" class="btn btn-warning">Edit
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>