<div class="col-lg-4">
    <h4>{{project.Name}}</h4>
    <table class="display-table">
        <tr>
            <td>Project Key</td>
            <td>{{project.ProjectKey}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{project.Description}}</td>
        </tr>
        <tr>
            <td>Leader</td>
            <td>{{project.Lead.Username}}</td>
        </tr>
        <tr>
            <td>Labels</td>
            <td><span  ng-repeat="label in project.Labels">{{label.Name}}, </span></td>
        </tr>
        <tr>
            <td>Priorities</td>
            <td><span  ng-repeat="priority in project.Priorities">{{priority.Name}}, </span></td>
        </tr>
    </table>
    <div ng-if="checkLeader()">
        <a href="#/projects/{{project.Id}}/add-issue" class="btn btn-warning">Add issue</a>
        <a href="#/projects/{{project.Id}}/edit" class="btn btn-warning">Edit project</a>
    </div>
</div>
<div class="bs-component col-lg-8">
    <h4>Issues</h4>
    <table class="pattern-style-a col-lg-12">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Due Date</th>
            <th scope="col">Assignee</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="issue in issues">
            <td class="col-md-2"><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
            <td class="col-md-4">{{issue.Description}}</td>
            <td class="col-md-2">{{issue.DueDate}}</td>
            <td class="col-md-2">{{issue.Assignee.Username}}</td>
            <td class="col-md-2">{{issue.Author.Username}}</td>
        </tr>
        </tbody>
    </table>
</div>