.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.main {
    margin-top: 100px;
    margin-bottom: 50px;
    background: white;
    padding: 50px 30px;
    /*height: 630px;*/
}

body {
    font-size: 14px;
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url("images/swirl_pattern.png");
}

#wrapper {
    background: url("images/swirl_pattern.png");
    padding: 20px;
}

.well {
    background: url("images/pattern.png");
}

.disabled-button {
    opacity: 0.5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.addProject {
    margin: 0 270px;
}

h4 {
    color: #F0AD4E;
    margin-left: 40px;
    margin-bottom: 30px;
}

.pattern-style-a
{
    text-align: left;
    border-collapse: collapse;
    background: url('images/pattern.png');
    color: black;
    table-layout:fixed;
}
.pattern-style-a thead tr th
{
    font-weight: bolder;
    font-size: 15px;
}
.pattern-style-a th
{
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid #fff;
}
.pattern-style-a td
{
    padding: 8px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
    overflow:hidden;
    white-space:nowrap;
}
.pattern-style-a tbody tr:hover td
{
    background: #fff;
}

.display-table {
    margin: 10px;
}

.display-table tr td{
    padding: 10px;
    font-size: 16px;
}

.display-table tr td:nth-child(1){
    text-align: right;
    font-weight: bold;
    border-right: 5px double #F0AD4E;
}

.btn-warning {
    margin: 5px;
}

.custom-dropdown {
    background: white;
    position: absolute;
    z-index: 999;
    width:90%;
    right: 20px;
}

.uib-datepicker .uib-title {
    width: 100%;
}

.uib-day button, .uib-month button, .uib-year button {
    min-width: 100%;
}

.uib-left, .uib-right {
    width: 100%
}