.main {
    margin-top: 100px;
    margin-bottom: 50px;
    background: white;
    padding: 30px;
    border-radius: 7%;
    height: 600px;
}

body {
    font-size: 14px;
    background: url("images/swirl_pattern.png");
}

.disabled-button {
    opacity: 0.5;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.pattern-style-a
{
    text-align: left;
    border-collapse: collapse;
    background: url('images/pattern.png');
    color: black;
}
.pattern-style-a thead tr
{
    background: url('images/pattern-head.png');
}
.pattern-style-a th
{
    font-weight: normal;
    padding: 8px;
    border-bottom: 1px solid #fff;
}
.pattern-style-a td
{
    padding: 8px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid transparent;
}
.pattern-style-a tbody tr:hover td
{
    background: #fff;
}

.display-table tr td{
    padding: 10px;
    font-size: 16px;
}

.display-table tr td:nth-child(1){
    text-align: right;
    font-weight: bold;
    border-right: 5px double #2b81af;
}