<div class="row">
    <div class="col-lg-6 addProject">
        <div class="well bs-component">
            <form name="newIssueForm" class="form-horizontal">
                <fieldset>
                    <legend>Add new issue</legend>
                    <div class="form-group">
                        <label for="title" class="col-lg-3 control-label">Title</label>

                        <div class="col-lg-9">
                            <input ng-model="issue.Title" required class="form-control" id="title" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-lg-3 control-label">Description</label>

                        <div class="col-lg-9">
                            <textarea ng-model="issue.Description" required class="form-control" rows="2"
                                      id="description"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dueDate" class="col-lg-3 control-label">Due Date</label>

                        <div class="col-lg-9">
                            <input ng-model="issue.DueDate" required class="form-control" id="dueDate" type="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="project" class="col-lg-3 control-label">Project</label>

                        <div class="col-lg-9">
                            <input ng-model="project.Name" disabled class="form-control" id="project" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="assignee" class="col-lg-3 control-label">Assignee</label>

                        <div class="col-lg-9">
                            <!--<input ng-change="useFilter()" ng-model="issue.AssigneeFilter" required class="form-control"-->
                            <!--type="text" list="usersOptions" id="assignee"/>-->
                            <!--<datalist id="usersOptions">-->
                            <!--<select>-->
                            <!--<option ng-repeat="user in users | limitTo: 4" value="{{user.Id}}">-->
                            <!--{{user.Username}}-->
                            <!--</option>-->
                            <!--</select>-->
                            <!--</datalist>-->

                            <!--<md-autocomplete id="assignee" md-selected-item="selectedUser" md-search-text="searchUser"-->
                                             <!--md-min-length="2" md-items="user in useFilter(searchUser)"-->
                                             <!--md-item-text="user.Username"-->
                                             <!--placeholder="..."-->
                                             <!--type="email" required="required">-->
                                <!--<span>{{user.Username}}</span>-->
                            <!--</md-autocomplete>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="priorities" class="col-lg-3 control-label">Priorities</label>

                        <div class="col-lg-9">
                            <select name="singleSelect" ng-model="issue.PriorityId" class="form-control"
                                    id="priorities">
                                <option ng-repeat="priority in project.Priorities" value="{{priority.Id}}">
                                    {{priority.Name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="labels" class="col-lg-3 control-label">Labels</label>

                        <div class="col-lg-9">
                            <input ng-change="useLabelFilter()" ng-model="issue.labelFilter" required
                                   class="form-control" id="labels" type="text">

                            <div class="custom-dropdown">
                                <div ng-repeat="label in labels | limitTo: 4">{{label.Name}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-2">
                            <button type="reset" class="btn btn-default">Cancel</button>
                            <button ng-click="addIssue(issue)" ng-disabled="newIssueForm.$invalid" type="submit"
                                    class="btn btn-warning">Add
                            </button>
                        </div>
                    </div>
                </fieldset>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
