<div class="col-md-6">
    <h4 class="issue-header">{{issue.IssueKey}}</h4>

    <div ng-if="checkLeader">
        <div>
            <a href="#/issues/{{issue.Id}}/edit" class="btn btn-warning">Edit issue</a>
        </div>
    </div>
    <table class="display-table">
        <tr>
            <td>Title</td>
            <td>{{issue.Title}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{issue.Description}}</td>
        </tr>
        <tr>
            <td>Assignee</td>
            <td>{{issue.Assignee.Username}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{issue.Author.Username}}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>{{issue.DueDate | date: medium}}</td>
        </tr>
        <tr>
            <td>Project</td>
            <td>{{issue.Project.Name}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{issue.Status.Name}}</td>
        </tr>
        <tr>
            <td>Prioritiy</td>
            <td>{{issue.Priority.Name}}</td>
        </tr>
        <tr>
            <td>Labels</td>
            <td><span ng-repeat="label in issue.Labels">{{label.Name}} </span></td>
        </tr>
    </table>
    <div ng-if="checkIfAuthorized" class="col-md-6">
        <h6>Available Statuses</h6>

        <div ng-repeat="status in issue.AvailableStatuses">
            {{status.Name}}
            <button ng-click="changeStatus(issue.Id, status.Id)" class="btn btn-warning">Change</button>
        </div>
    </div>
</div>

<div class="col-md-6">
    <h3>Comments</h3>

    <div ng-repeat="comment in comments | limitTo: 4" class="panel panel-warning">
        <div class="comments-head">Created by: {{comment.Author.Username}} on {{comment.CreatedOn | date: "MM/dd/yyyy 'at' h:mma"}}
        </div>
        <div class="panel-body">
            {{comment.Text}}
        </div>
    </div>
    <div ng-if="checkIfAuthorized">
        <label for="description" class="col-md-5 control-label">Add a comment</label>

        <div class="col-md-9">
            <textarea ng-model="comment.Text" required class="form-control col-md-9" rows="2"
                      id="description"></textarea>
        </div>
        <button ng-click="addComment(comment)" class="btn btn-warning">Add</button>
    </div>
</div>