<div>
    <h4>{{issue.IssueKey}}</h4>
    <table class="display-table col-lg-6">
        <tr>
            <td>Title</td>
            <td>{{issue.Title}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{issue.Description}}</td>
        </tr>
        <tr>
            <td>Assignee</td>
            <td>{{issue.Assignee.Username}}</td>
        </tr>
        <tr>
            <td>Author</td>
            <td>{{issue.Author.Username}}</td>
        </tr>
        <tr>
            <td>Due Date</td>
            <td>{{issue.DueDate}}</td>
        </tr>
        <tr>
            <td>Project</td>
            <td>{{issue.Project.Name}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{issue.Status.Name}}</td>
        </tr>
        <tr>
            <td>Prioritiy</td>
            <td>{{issue.Priority.Name}}</td>
        </tr>
        <tr>
            <td>Labels</td>
            <td><span  ng-repeat="label in issue.Labels">{{label.Name}} </span></td>
        </tr>
    </table>
    <div ng-if="checkIfAuthorized" class="col-lg-4">
        <h6>Available Statuses</h6>
        <div ng-repeat="status in issue.AvailableStatuses">
            {{status.Name}}
            <button  class="btn btn-warning">Change</button>
        </div>
    </div>
</div>